* {
  box-sizing: border-box;
}

:root {
  --green: #4acc67;
  --saturate-green2: #36bf54;
  --light-green: #64d37c;
  --white: #ffffff;
  --black: #111318;
  --light-grey: #e7e9ee;
  --grey2: #b9bdc5;
  --grey3: #393c47;
}

html {
  scroll-behavior: smooth; 
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100vh;
  margin: 0;
  color: var(--white);
  background-color: var(--black);
  font-family: 'Cabinet Grotesk', sans-serif;
  overflow-x: hidden;
}

.body > .wrapper {
  width: 0;
  right: -144px;
}

.main {
  position: relative;
  right: 0px;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.header > .wrapper {
  align-items: center;
  height: 48px;
  margin: 24px 32px 0 64px;
}

.logo {
  position: absolute;
  top: -48px;
  left: 0;
  display: flex;
  align-items: center;
  height: 48px;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.connect-button {
  position: absolute;
  top: -48px;
  right: 0;
  width: 156px;
  height: 48px;
  border-radius: 24px;
}

.connect-button:hover {
  background-color: var(--grey2);
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-text-wrapper {
  margin: 15vh 0 0 64px;
}

.main-text-wrapper > .wrapper {
  height: 100px;
}

.hand,
.main-title {
  position: absolute;
  top: 100px;
}

.hand {
  width: 85px;
}

.hand:hover {
  animation: 0.6s hand ease-in-out;
  transform-origin: 90% 100%;
}

@keyframes hand {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.main-title {
  margin: 0;
  font-size: 100px;
  line-height: 92px;
  font-weight: 500;
}

.main-title.first {
  left: 90px;
}

@media (max-width: 1100px) {

  .hand {
    width: 75px;
  }

  .main-title {
    font-size: 70px;
  }

}

@media (max-width: 900px) {

  .main-text-wrapper > .wrapper {
    height: 75px;
  }

  .hand {
    width: 60px;
  }

  .main-title {
    font-size: 50px;
    line-height: 70px;
  }

}

.running-line {
  margin: 0 32px 0 64px;
  font-size: 72px;
  font-weight: 400;
  line-height: 102%;
  border: 0;
  overflow: hidden;
}

.running-line > .wrapper {
  height: 122px;
  align-items: center;
  gap: 32px;
}

.border {
  width: 0;
  height: 2px;
  background-color: var(--grey3);
}

.marquee-element {
  position: absolute;
  visibility: hidden;
}

.footer .wrapper {
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin: 40px 64px;
}

.links {
  position: absolute;
  top: 40px;
  display: flex;
  gap: 16px;
}

.telegram-link,
.github-link,
.twitter-link {
  cursor: pointer;
}

.telegram-link {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/telegram.svg");
}

.telegram-link:hover {
  background-image: url("../../assets/telegram-light.svg");
}

.github-link {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/github.svg");
}

.github-link:hover {
  background-image: url("../../assets/github-light.svg");
}

.twitter-link {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/twitter.svg");
}

.twitter-link:hover {
  background-image: url("../../assets/twitter-light.svg");
}

.year,
.design {
  position: absolute;
  top: 40px;
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0;
  font-weight: 400;
}

.year {
  left: calc(50% - 24px);
}

.design {
  right: 0;
}

.to-domain {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 100%;
  background-color: var(--green);
}

.to-domain:hover {
  background-color: var(--saturate-green2);
}

.to-domain-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 406px;
  height: 64px;
  transform: rotate(90deg);
}

.to-domain-insuline-title,
.to-domain-title {
  color: var(--black);
}

.to-domain-insuline-title {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  border-radius: 12px;
  background-color: var(--light-green);
}

.to-domain-title {
  position: absolute;
  left: 150px;
  margin: 0 32px 0 16px;
  font-size: 28px;
  font-weight: 400;
}

.to-domain-button {
  position: absolute;
  right: 0;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border: 1.5px solid;
  border-radius: 32px;
}
